<h1>Production Companies</h1>
<ol class="ml-6 has-text-success">
  <% @production_companies.each do |company| %>
  <li>
    <%= link_to company.name, company %>
    <em>(<%= company.movie_count %> Top Movies)</em>
  </li>
  <% end %>
</ol>
<h6 class="title is-6 p-4"><%= link_to 'Home', root_path%></h6>