<hr>
<footer>
<p>Copywrong - IMBD 2023</p>
<ul>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Top 100 movies', movies_path %></li>
<li><%= link_to 'Production Companies', production_companies_path %></li>
</ul>
</footer>